<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentassembly>
         <assemblyidentity name="system.web.http" publickeytoken="31bf3856ad364e35" culture="neutral" />
		 <codebase version="4.0.0.0"/>
        <bindingredirect oldversion="0.0.0.0-5.2.3.0" newversion="5.2.3.0" />
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="microsoft.applications.events.server" publickeytoken="31bf3856ad364e35" culture="neutral" />
        <bindingredirect oldversion="0.0.0.0-1.0.0.0" newversion="1.0.0.0" />
        <codebase version="1.0.0.0"/>
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="microsoft.extensions.logging.abstractions" publickeytoken="adb9793829ddae60" culture="neutral" />
        <bindingredirect oldversion="0.0.0.0-2.2.0.0" newversion="2.2.0.0" />
        <codebase version="2.2.0.0"/>
      </dependentassembly>
      <dependentassembly>
        <assemblyidentity name="microsoft.extensions.logging" publickeytoken="adb9793829ddae60" culture="neutral" />
        <bindingredirect oldversion="0.0.0.0-2.2.0.0" newversion="2.2.0.0" />
        <codebase version="2.2.0.0"/>
      </dependentassembly>
    </assemblybinding>
  </runtime>
</configuration>